<div class = "userIndex">
  <div class='userWraper'>
   <%= image_tag(@user.Photo) %>  
   <div class='userInner'>
     <h1 class="name"><%= @user.Name%></h1>
     <p class='num'>Number of posts: <%= @user.PostsCounter || 0%></p>
   </div>
  </div>
  <div class = "bio">
    <p class="bioHead">Bio</p>
    <p> <%= @user.Bio%></p>
  </div>

  <% @posts.each do |post|%>
    <div class= "post">
     <p class= "title"> <%= post.Title%> </p>
     <p class="text"> <%= post.Text%> </p>
     <p class="counters">Comments: <%= post.CommentsCounter || 0%>, Likes: <%= post.LikesCounter || 0%></p>
    </div>
  <% end %>
 
 <a href="/users/<%=@user.id%>/posts"> <button class="seePosts">See all posts</button> </a>
 
 </div>

 