<div class = "userIndex">
  <div class='userWraper'>
  <img src= <%= @user.Photo %> alt= "User" />   
   <div class='userInner'>
     <h1 class="name"><%= @user.Name%></h1>
     <p class='num'>Number of posts: <%= @user.PostsCounter || 0%></p>
   </div>
  </div>
  <%= link_to "Add a post", new_user_post_path(@user), class: "addPost"  %>
  <div class = "bio">
    <p class="bioHead">Bio</p>
    <p> <%= @user.Bio%></p>
  </div>

  <% @posts.each do |post|%>
    <div class= "post">
    <a href="<%= @user.id%>/posts/<%= post.id%>">
      <p class="title"> <%= post.Title%></p>
      <p class="text"> <%= post.Text%> </p>
      <p class="counters">Comments: <%= post.CommentsCounter || 0%>, Likes: <%= post.LikesCounter || 0%></p>
    </a>
    </div>
  <% end %>
 
  <button class="seePosts">
    <a href="/users/<%=@user.id%>/posts"> 
     See all posts
    </a>
  </button>
 
 </div>

 