<div class = "userIndex">
  <div class='userWraper'>
   <%= image_tag(@user.Photo) %>  
   <div class='userInner'>
     <h1 class="name"><%= @user.Name%></h1>
     <p class='num'>Number of posts: <%= @user.PostsCounter || 0%></p>
   </div>
  </div>
  
  <% @posts.each do |post|%>
    <a href="/users/<%= @user.id%>/posts/<%= post.id %>" class="postDetails">
    <div class= "post">
     <p class= "title"> <%= post.Title%> </p>
     <p class="text"> <%= post.Text%> </p>
     <p class="counters">Comments: <%= post.CommentsCounter || 0%>, Likes: <%= post.LikesCounter || 0%></p>
    </div>
    </a>  
    <div class="comments">
      <% counter = 0 %>
      <% @comments.each do |comment|%>
        <% if counter < 5%>
          <% if comment.post_id == post.id%>
            <p>
              <% @users.each do |user|%>
                <% if user.id == comment.user_id %>
                  <%= user.Name %>:  <%= comment.Text%>
                <% end %>
              <% end %>
            </p>
           <% counter += 1 %>
          <% end %> 
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

 