<div class = "userIndex">
  <div class='userWraper'>
  <img src= <%= @user.Photo %> alt= "User" />   
   <div class='userInner'>
     <h1 class="name"><%= @user.Name%></h1>
     <p class='num'>Number of posts: <%= @user.PostsCounter || 0%></p>
   </div>
  </div>
  <%= link_to "Add a post", new_user_post_path(@user), class: "addPost"  %>    
  <% @posts.each do |post|%>
    <a href="/users/<%= @user.id%>/posts/<%= post.id %>" class="postDetails">
    <div class= "post">
     <p class= "title"> <%= post.Title%> </p>
     <p class="text"> <%= post.Text%> </p>
     <p class="counters">Comments: <%= post.CommentsCounter || 0%>, Likes: <%= post.LikesCounter || 0%></p>
    </div>
    </a>
    <div class="comments">
    <% @comments.each do |comment|%>
      <% if comment.post_id == post.id%>
        <p>
        <% @users.each do |user|%>
          <% if user.id == comment.user_id %>
            <%= user.Name %>:  <%= comment.Text%>
          <% end %>
        <% end %>
        </p>
      <% end %> 
      <% end %>
    </div>
  <% end %>
</div>


<div class="digg_pagination">
  <%= will_paginate @posts %> 
</div>



