<div class="PostShow">
  <h1 clas="showPsotTilte"><%= @post.Title %> by <%= @user.Name%> </h1>
  <p class="countersShow">Comments: <%= @post.CommentsCounter || 0%>, Likes: <%= @post.LikesCounter || 0%></p>
  <p class="showPostText"><%= @post.Text %> </p>
</div>
<div class="interaction">
<%= link_to "Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "commentNew" %>
<%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
  <%= form.submit "Like", class: "like" %>
<% end %>
</div>
<div class="commentsShow">
  <% @comments.each do |comment| %>
    <p> <%= comment.user.Name%>: <%= comment.Text%></p>
  <% end %> 
</div>