<div class="PostShow">
  <% if can? :destroy, @post %>
    <%= link_to "Remove", "/users/#{@post.author_id}/posts/#{@post.id}", 'data-turbo-method': :delete, class:('delete') %>
  <% end %>
  <h1 clas="showPsotTilte"><%= @post.Title %> by <%= @post.author.Name%> </h1>
  <p class="countersShow">Comments: <%= @post.CommentsCounter || 0%>, Likes: <%= @post.LikesCounter || 0%></p>
  <p class="showPostText"><%= @post.Text %> </p>
</div>
<div class="interaction">
<%= link_to "Comment", new_user_post_comment_path(user_id: @post.author_id, post_id: @post.id ), class: "commentNew" %>
<%= form_with model: @like, url: user_post_likes_path(post_id: @post.id) do |form| %>
  <%= form.submit "Like", class: "like" %>
<% end %>
</div>
<div class="commentsShow">
  <% @comments.includes([:user]).each do |comment| %>
    <p class="comment">
      <% @users.each do |user|%>
        <% if user.id == comment.user_id %>
          <%= user.Name %>:  <%= comment.Text%>
          <% if can? :destroy, comment %>
          <%= link_to "Delete Comment" , "/users/#{@post.author_id}/posts/#{@post.id}/comments/#{comment.id}", 
          'data-turbo-method': :delete, class:('deleteComment') %>
          <% end %>
        <% end %>
      <% end %>
    </p>
  <% end %> 
</div>